<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='http://localhost:3020/public/styles.css' type="text/css"/>
    <title>Practica evaluada n.2 - Natalia ML</title>
</head>
<body>
    <h1>Student Form - Left the Student data in here</h1>
    <form method="post" id="formStudentUpdate">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required value="{{stud.name}}"><br><br>
        <label for="age">Age:</label>
        <input type="number" id="age" name="age" required value="{{stud.age}}"><br><br>
        <label for="course">Course:</label>
        <input type="text" id="course" name="course" required value="{{stud.course}}"><br><br>
        <input type="submit" value="Update Student">
    </form>
</body>
</html>