.authorInfo{
    background-color: rgb(103, 95, 154);
    width: auto;
    height: fit-content;
    padding: 2em;
    border-radius: 2vmax;
    align-content: center;
}

#formStudent{
    background-color: rgb(186, 175, 255);
    width: auto;
    height: fit-content;
    padding: 2em;
    border-radius: 2vmax;
    align-content: center;
}

#formStudent input, label{
    background-color: rgb(220, 215, 254);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(21, 4, 41);
    width: auto;
    height: fit-content;
    border-radius: 2vmax;
    font-size: 1.2rem;
}

label{
    background-color: rgb(186, 175, 255);
}

h1{
    color: rgb(71, 127, 246);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5rem;
}
h3{
    color: rgb(147, 19, 98);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
}
h4{
    color: rgb(55, 10, 88);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.8rem;
}

p{
    color: rgb(29, 15, 108);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
}